* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: poppins;
}
a {
	text-decoration: none;
	color: black;
}
.navbar {
	/* background-color: lightblue; */
	height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logoDiv {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logoDiv img {
	height: 35px;
}

.navLink a {
	font-size: 18px;
	padding-left: 50px;
}

.btn{
	border: none;
	background-color: white;
	color: rgb(63, 63, 205);
	padding: 10px 20px;
	border: 1px solid blue;
	border-radius: 2000px;
}
.aBtn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.Hero{
padding: 20px 30px;
background-color: rgba(227, 225, 225, 0.454);
}

.info{
    display: flex;
    padding-bottom: 30px;
}
.heroHeading{
    width: 600px;
}
.webInfo p{
    padding-bottom:30px ;
    /* background-color: aqua; */
}

.heroImg {
    width: 1450px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
}